/* HEADER */
header {
    background-color:#00272d;
   
}
header nav div img{
    width: 80px;
}
nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

nav ul img{
    width: 40px;
    border-radius: 50%;
    border: 2px solid #f9bb2d;
    vertical-align: middle;
}
header nav{
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
            justify-content:space-between;
            
            -webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
    text-transform: uppercase;
    margin: 0 15px 0 15px;
}

header a{
    
    color:#fff;
    font-size:1rem;
    text-decoration: none;
}

header nav>ul>li{
    display:inline-block;
    vertical-align:middle; 
    position: relative;
    padding: 30px 10px 30px 30px;
}

header a .fa-solid{
  color: #fff;
}

.sousMenu{
    display: none;
}

nav ul li:hover .sousMenu{
    display: block;
    position: absolute;
    background-color: #00272d;
    top:100%;
   
    left: 0;
    padding:0px;
    z-index:1000;
    opacity: 0.7;
}



.sousMenu li a{
    display: inline-block;
    text-align: left;
    border-bottom: 2px solid #f9bb2d;
    width: 300px;
    padding: 15px;
}


nav span{
    display: inline-block;
    margin-top: 5%;
}